/* Mobile first CSS */
html {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 6px;
}

.card {
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    padding: 6px;
    text-align: center;
}

.navbar {
    background-color: #000000;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* .navbar li {
    float: left;
} */

.navbar li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #424242;
}

.subscribe {
    padding-bottom: 20px;
    background-color: #000000;
    color: #ffffff;
}

.subscribe input {
    width: 100%;
}

.content {
    text-align: center;
    padding: 10px;
}

.btn {
    border: none;
    padding: 12px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.btn1 {
    background-color: #ffffff;
}

.btn2 {
    background-color: #000000;
    color: #ffffff;
}



footer {
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 6px
}

.socialmedia ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.socialmedia li {
    display: inline;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    /* text-align: center; */
    text-decoration: none;
    margin: 5px 2px;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

/* Changes layout with screen larger than 768px */
/* @media (min-width: 768px) {

} */

/* Changes layout with screen larger than 1024px */
/* @media (min-width: 1024px) {

} */